body{
    background-color: #e0bdbd;
}

.cursos{
    margin: 6px;
    border: solid 1px black;
    height: 100%;
    width: 100%;
    display: flex;
}

.box{
    margin: 6px;
    border: solid 1px black;
    background-color: #f0db1f;
    width: 50em;
    flex-direction: row;
    text-align: center;
}

.boxH1 {
    padding: 6px;
    border: solid 1px black;
    background-color: #f0db1f;
    width: 20em;
    flex-direction: row;
    text-align: center;
}