/* criação de variaveis */
:root{
    --vermelho:#E50914;
    --preta:#141414;
}

/* Reter CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
.body{
   background: var(--preta);
   background-image: url("../images/arquitecture.jpg");
   color:white;
}


/*principal*/
.principal{
    height:100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao{
    text-align: justify;
}


.principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.principal .titulo{
    margin-top: 10%;
    font-weight: 800;
    text-align: center;
}

.container{
    margin-left: 20px;
}

.principal .container{
    width: 70%;
}

.box-cert{
    height: 100%;
    width: 100%;
    aspect-ratio: 35/35;
    display: block;
    cursor: pointer;
}

.carrosel-cert{
    margin-top:5px;
    justify-content: space-between;
}

